[user]
	name = Richard Hitier
	email = richard.hitier@co-libri.org
[alias]
	co = checkout
	ci = commit
	l = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\"
	s = status -suno
	br = branch
	pull = pull --ff
	d = difftool
[core]
	editor = vim
	pager = less -X
	excludesfile = ${HOME}/.gitignore
[diff]
	tool = vimdiff
[credential]
	helper = cache
[color]
	ui = true
[push]
	default = matching
[difftool]
	prompt = false
[pull]
	rebase = true
