[user]
	name = Richard Hitier
	email = hitier.richard@gmail.com
[alias]
	s = status -suno
	br = branch
	pull = pull --ff
	d = difftool
	co = checkout
	ci = commit
    # log with date relative
	l = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\"
    # log with date and time
    #lt = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ai%Creset\"
    # other formats: '%ad' '%aD' '%at' '%aI' '%as'
    lt = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %>(50)%s %C(white) %an, %ai%Creset\" 
[core]
	editor = vim
	pager = less -X
	excludesfile = ~/.gitignore
[credential]
    helper = cache --timeout 30000
[color]
	ui = always
[push]
	default = matching
[difftool]
	prompt = false
[pull]
	rebase = true
[diff]
    tool = pycharm
[difftool "pycharm"]
    cmd = /home/richard/Downloads/pycharm-2019.3.3/bin/pycharm.sh diff "$LOCAL" "$REMOTE" && echo "Press enter to continue..." && read
[merge]
    tool = pycharm
    keepBackup = false
[mergetool "pycharm"]
    cmd = charm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[fetch]
	prune = true
[init]
	defaultBranch = main
